<footer class="footer">
  <ul>
    <li><a href="https://github.com/rachelkathleen" target="blank"> <i class="fab fa-github fa-2x"></i></a></li>
    <li><a href="https://medium.com/@rachel.hawa" target="blank"> <i class="fab fa-medium fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/rachelhawa/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
    <li><a href="mailto:rachel.hawa@gmail.com"target="blank"><i class="fas fa-paper-plane fa-2x"></i></a></li>
    <li>&copy; Rachel Hawa 2019</li>
  </ul>
</footer>
