<section id="resume" style="display: block">
    <!-- <div class="main-content"> -->
    <div class="jumbotron">
      <iframe src="https://resume.creddle.io/embed/6f4pbpppyso"
  width="854" height="1104" seamless></iframe>
   </div>

 <!-- </div> -->
</section>
