<div class="hero-image">
  <div class="hero-text">
    <h1>Rachel Hawa</h1>
    <h4>Software Engineer</h4>
    <h6>Ruby on Rails, HTML5/CSS3, Javascript, React.js</h6>
    <div class="navbox" id="js-navigation">
      <%= link_to "About", about_path, id: "about", class: "active, button" %>
      <%= link_to "Projects", projects_path, id: "projects", class: "button"%>
      <%= link_to "Resume", resume_path, id: "resume", class: "button", target: "blank"%>
      <%= link_to "Contact", contact_path, id: "contact", class: "button"%>
    </div>

  </div>
</div>
