<head>
  <title>Rachel Hawa</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/35b8e7b015.js"></script>
</head>
    <%= yield %>
